[D-BUS Service]
Name=com.deepin.dde.Launcher
Exec=/usr/lib/dde-api-proxy/dbus-proxy/dde-api-dbus-proxy-session-v1 --all
SystemdService=dde-api-dbus-proxy-v1.service
