[D-BUS Service]
Name=org.deepin.daemon.Audio1
Exec=/usr/lib/dde-api-proxy/dbus-proxy/dde-api-dbus-proxy-session-v1 --all
SystemdService=dde-api-dbus-proxy-v1.service
