[Unit]
Description=dde-api-proxy-v1 service for %I

[Service]
Type=simple
ExecStart=/usr/lib/dde-api-proxy/dbus-proxy/dde-api-dbus-proxy-system-v1 --%I
Slice=services.Slice
