[Unit]
Description=dde-api-proxy-session-v1 service for session

Requires=dbus.socket
After=dbus.socket

Requisite=dde-session-pre.target
PartOf=dde-session-pre.target
Before=dde-session-pre.target

Before=dde-display.service

[Service]
Type=simple
ExecStart=/usr/lib/dde-api-proxy/dbus-proxy/dde-api-dbus-proxy-session-v1 --all
Slice=session.slice
